<div class="row">
  <%= image_tag("logo.png", class: "mx-auto",id: "logo") %>
</div>
<div class="card-group">
  <div class="card">
    <%= image_tag("dh.jpeg",class: "card_image mx-auto rounded-circle" )%>
    <div class="card-body">
      <h4 class="card-title text-center">정다혜</h4>
    </div>
  </div>
  <div class="card">
    <%= image_tag("jy.jpeg",class: "card_image mx-auto rounded-circle"  )%>
    <div class="card-body">
      <h4 class="card-title text-center">송지연</h4>
    </div>
  </div>
  <div class="card">
    <%= image_tag("sh.jpeg",class: "card_image mx-auto rounded-circle"  )%>
    <div class="card-body">
      <h4 class="card-title text-center">김선홍</h4>
    </div>
  </div>
  <div class="card">
    <%= image_tag("hg.jpeg",class: "card_image mx-auto rounded-circle"  )%>
    <div class="card-body">
      <h4 class="card-title text-center">이현경</h4>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <%= image_tag("ksh.jpeg",class: "card_image mx-auto rounded-circle"  )%>
    <div class="card-body">
      <h4 class="card-title text-center">김승하</h4>
    </div>
  </div>
  <div class="card">
    <%= image_tag("ms.jpeg",class: "card_image mx-auto rounded-circle"  )%>
    <div class="card-body">
      <h4 class="card-title text-center">신명상</h4>
    </div>
  </div>
  <div class="card">
    <%= image_tag("jh.jpeg",class: "card_image mx-auto rounded-circle"  )%>
    <div class="card-body">
      <h4 class="card-title text-center">김지훈</h4>
    </div>
  </div>
  <div class="card">
    <%= image_tag("my.jpeg",class: "card_image mx-auto rounded-circle"  )%>
    <div class="card-body">
      <h4 class="card-title text-center">우미연</h4>
    </div>
  </div>
</div>