<div class="card-group">
  <div class="card">
    <%= image_tag("dh.jpg",class: "card_image mx-auto rounded-circle" )%>
    <div class="card-body">
      <h4 class="card-title text-center">정다혜</h4></h4></h4>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <%= image_tag("sms.jpg",class: "card_image mx-auto rounded-circle"  )%>
    <div class="card-body">
      <h4 class="card-title text-center">송지연</h4></h4>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <%= image_tag("ksh.PNG",class: "card_image mx-auto rounded-circle"  )%>
    <div class="card-body">
      <h4 class="card-title text-center">김선홍</h4>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <%= image_tag("lhk.jpg",class: "card_image1 mx-auto rounded-circle"  )%>
    <div class="card-body">
      <h4 class="card-title text-center">이현경</h4>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <%= image_tag("sms.jpg",class: "card_image1 mx-auto rounded-circle"  )%>
    <div class="card-body">
      <h4 class="card-title text-center">김승하</h4>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <%= image_tag("sms.jpg",class: "card_image1 mx-auto rounded-circle"  )%>
    <div class="card-body">
      <h4 class="card-title text-center">신명상</h4>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <%= image_tag("sms.jpg",class: "card_image1 mx-auto rounded-circle"  )%>
    <div class="card-body">
      <h4 class="card-title text-center">김지훈</h4>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
</div>