<div class="row">
  <%= image_tag("logo.png", class: "mx-auto",id: "logo") %>
</div>
<div class="container my-5 ">
  <p class="text-center h1">치즈스틱스</p> 
  <p class="text-center"><span style="color: #ffc400">CHEESESTICKS</span> 는 건국대학교 멋쟁이사자처럼 운영진과 5기로 이루어진 팀입니다. <br>
  '성감대다이어리'는 숨겨지고 왜곡된 성에서 '나'에게부터 솔직해지기를 바라는 프로젝트로 <br>'나'에게 좀 더 관심을 가지고 성을 더 제대로 즐기기위해 시작되었습니다.</p>
</div>
<div class="card-group mt-5">
  <div class="card">
    <%= image_tag("dh.png",class: "card_image mx-auto rounded-circle" )%>
  </div>
  <div class="card">
    <%= image_tag("jy.png",class: "card_image mx-auto rounded-circle"  )%>
  </div>
  <div class="card">
    <%= image_tag("sh.png",class: "card_image mx-auto rounded-circle"  )%>
  </div>
  <div class="card">
    <%= image_tag("hg.png",class: "card_image mx-auto rounded-circle"  )%>
  </div>
</div>
<div class="card-group mt-5">
  <div class="card">
    <%= image_tag("ksh.png",class: "card_image mx-auto rounded-circle"  )%>
  </div>
  <div class="card">
    <%= image_tag("ms.png",class: "card_image mx-auto rounded-circle"  )%>
  </div>
  <div class="card">
    <%= image_tag("jh.png",class: "card_image mx-auto rounded-circle"  )%>
  </div>
  <div class="card">
    <%= image_tag("my.png",class: "card_image mx-auto rounded-circle"  )%>
  </div>
</div>