<h2>내 정보 수정</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, required: true, autofocus: true, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :nickname, required: true, autofocus: true, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :birth, required: true, autofocus: true, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :phone, required: true, autofocus: true, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.input :password, autocomplete: "off", hint: "비밀번호를 변경하지 않을 경우 넘어가세요.", required: false, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :password_confirmation, required: false, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :current_password, hint: "현재비밀번호를 입력해주세요.", required: true, input_html: { class: 'form-control' } %>
  </div>

  <%= f.button :submit, "수정하기", class: 'btn btn-dark' %>
<% end %>

<!-- <p>Unhappy? <!%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

<!-- <!%= link_to "Back", :back, class: "btn btn-default" %> -->



