<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <%= render "lego" %>
          <%= link_to '새로쓰기', new_diary_path ,class: "btn btn-outline-dark"%>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>성감대</th>
              <th>Memo</th>
              <th>link</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <% @diaries.each do |diary| %>
            <tr>
              <td><%= diary.category %></td>
              <td><%= truncate(diary.memo,:escape => false, :omission => '...' )%></td>
              <td><%= link_to 'Show', diary ,class: "btn btn-outline-dark btn-sm"%></td>
              <td><%= link_to 'Edit', edit_diary_path(diary) ,class: "btn btn-outline-dark btn-sm" %></td>
              <td><%= link_to 'Destroy', diary, method: :delete, data: { confirm: '삭제하시겠습니까?' } ,class: "btn btn-outline-dark btn-sm"%></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
$( document ).ready(function() {
  <% if @diary.category == "얼굴" %>
    $(".head").css("background-color","red");
  <% end %>

  <% if @diary.category == "머리카락" %>
    $(".hair").css("background-color","red");
  <% end %>

  <% if @diary.category == "왼팔뚝" %>
    $(".shoulder.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "오른팔뚝" %>
    $(".shoulder.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "허리" %>
    $(".waist").css("background-color","red");
  <% end %>

  <% if @diary.category == "왼손" %>
    $(".hand.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "오른손" %>
    $(".hand.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "오른다리" %>
    $(".leg.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "왼다리" %>
    $(".leg.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "왼팔" %>
    $(".arm.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "오른팔" %>
    $(".arm.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "왼발" %>
    $(".foot.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "오른발" %>
    $(".foot.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "중요부위" %>
    $(".core").css("background-color","red");
  <% end %>

  <% if @diary.category == "엉덩이" %>
    $(".hip").css("background-color","red");
  <% end %>

  <% if @diary.category == "몸" %>
    $(".body").css("background-color","red");
  <% end %>

  <% if @diary.category == "등" %>
    $(".back").css("background-color","red");
  <% end %>
});
</script>