<div id ="diaryscreen">
  <p id="notice"><%= notice %></p>

  <h1>Listing Diaries</h1>

  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Memo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @diaries.each do |diary| %>
        <tr>
          <td><%= diary.category %></td>
          <td><%= diary.memo %></td>
          <td><%= link_to 'Show', diary %></td>
          <td><%= link_to 'Edit', edit_diary_path(diary) %></td>
          <td><%= link_to 'Destroy', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Diary', new_diary_path %>

<script type="text/javascript">

</script>

<div class='container'>
  <div class='emmet-container'>
    <div class='emmet'>
      <div class='head'>
        <div class='hair'>
          <div class='highlight'></div>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class='eye left'></div>
        <div class='eye right'></div>
        <div class='nose'></div>
        <div class='mouth'>
          <div class='inner'></div>
        </div>
      </div>
      <div class='neck'></div>
      <div class='body'>
        <div class='highlight'></div>
        <div class='shirt'>
          <div class='collar left'></div>
          <div class='collar right'></div>
        </div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <div class='pen'></div>
        <div class='pocket left'></div>
        <div class='pocket right'></div>
      </div>
      <div class='shoulder left'></div>
      <div class='shoulder right'></div>
      <div class='arm left'></div>
      <div class='arm right'></div>
      <div class='hand left'>
        <div class='wrist'></div>
      </div>
      <div class='hand right'>
        <div class='wrist'></div>
      </div>
      <div class='belt'>
        <div class='buckle'></div>
      </div>
      <div class='pelvis'>
        <div class='highlight'></div>
        <div class='tag'>
          <div class='id'></div>
        </div>
        <div class='leg left'>
          <div class='foot'></div>
        </div>
        <div class='leg right'>
          <div class='foot'></div>
        </div>
      </div>
      <div class='shadow'></div>
    </div>
  </div>
</div>



<script>
<% @diaries.each do |diary| %>

  <% if diary.title == "head" %>
    $(".head").css("background-color","red");
  <% end %>

  <% if diary.title == "hair" %>
    $(".hair").css("background-color","red");
  <% end %>

  <% if diary.title == "wrist" %>
    $(".wrist").css("background-color","red");
  <% end %>

  <% if diary.title == "shoulder_left" %>
    $("shoulder_left").css("background-color","red");
  <% end %>

  <% if diary.title == "shoulder_right" %>
    $("shoulder_right").css("background-color","red");
  <% end %>

  <% if diary.title == "hand_left" %>
    $(".hand_left").css("background-color","red");
  <% end %>

  <% if diary.title == "hand_right" %>
    $(".hand_right").css("background-color","red");
  <% end %>

  <% if diary.title == "wrist_left" %>
    $(".wrist_left").css("background-color","red");
  <% end %>

  <% if diary.title == "wrist_right" %>
    $(".wrist_right").css("background-color","red");
  <% end %>

  <% if diary.title == "leg_right" %>
    $(".leg_left").css("background-color","red");
  <% end %>

  <% if diary.title == "leg_left" %>
    $(".leg_left").css("background-color","red");
  <% end %>

  <% if diary.title == "core" %>
    $(".core").css("background-color","red");
  <% end %>

  <% if diary.title == "hip" %>
    $(".hip").css("background-color","red");
  <% end %>

  <% if diary.title == "body" %>
    $(".body").css("background-color","red");
  <% end %>

  <% if diary.title == "back" %>
    $(".back").css("background-color","red");
  <% end %>
<% end %>
</script>

