<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <%= render "lego" %>
          <%= link_to 'New Diary', new_diary_path %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>성감대</th>
              <th>Memo</th>
              <th>link</th>
            </tr>
          </thead>
          <tbody>
              <% @diaries.each do |diary| %>
            <tr>
              <td><%= diary.category %></td>
              <td><%= truncate(diary.memo,:escape => false, :omission => '...' )%></td>
              <td><%= link_to 'Show', diary %></td>
              <td><%= link_to 'Edit', edit_diary_path(diary) %></td>
              <td><%= link_to 'Destroy', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
$( document ).ready(function() {
<% @diaries.each do |diary| %>
  <% if diary.category == "head" %>
    $(".head").css("background-color","red");
  <% end %>

  <% if diary.category == "hair" %>
    $(".hair ").css("background-color","red");
    // $('div.hair').append('<style type="text/css"> background-color:red </style>');
  <% end %>

  <% if diary.category == "wrist" %>
    $(".wrist").css("background-color","red");
  <% end %>

  <% if diary.category == "shoulder_left" %>
    $("shoulder.left").css("background-color","red");
  <% end %>

  <% if diary.category == "shoulder_right" %>
    $("shoulder.right").css("background-color","red");
  <% end %>

  <% if diary.category == "hand_left" %>
    $(".hand.left").css("background-color","red");
  <% end %>

  <% if diary.category == "hand_right" %>
    $(".hand.right").css("background-color","red");
  <% end %>

  <% if diary.category == "leg_right" %>
    $(".leg.right").css("background-color","red");
  <% end %>

  <% if diary.category == "leg_left" %>
    $(".leg.left").css("background-color","red");
  <% end %>

  <% if diary.category == "arm_left" %>
    $(".arm.left").css("background-color","red");
  <% end %>

  <% if diary.category == "arm_right" %>
    $(".arm.right").css("background-color","red");
  <% end %>

  <% if diary.category == "foot_left" %>
    $(".foot.left").css("background-color","red");
  <% end %>

  <% if diary.category == "foot_right" %>
    $(".foot.right").css("background-color","red");
  <% end %>

  <% if diary.category == "wrist left" %>
    $(".wrist").css("background-color","red");
  <% end %>

  <% if diary.category == "wrist_right" %>
    $(".wrist.right").css("background-color","red");
  <% end %>

  <% if diary.category == "waist" %>
    $(".waist").css("background-color","red");
  <% end %>

  <% if diary.category == "shoulder_left" %>
    $("shoulder.left").css("background-color","red");
  <% end %>

  <% if diary.category == "shoulder_right" %>
    $("shoulder.right").css("background-color","red");
  <% end %>

  <% if diary.category == "hand_left" %>
    $(".hand.left").css("background-color","red");
  <% end %>

  <% if diary.category == "hand_right" %>
    $(".hand.right").css("background-color","red");
  <% end %>

  <% if diary.category == "leg_right" %>
    $(".leg.right").css("background-color","red");
  <% end %>

  <% if diary.category == "leg_left" %>
    $(".leg.left").css("background-color","red");
  <% end %>

  <% if diary.category == "arm_left" %>
    $(".arm.left").css("background-color","red");
  <% end %>

  <% if diary.category == "arm_right" %>
    $(".arm.right").css("background-color","red");
  <% end %>

  <% if diary.category == "foot_left" %>
    $(".foot.left").css("background-color","red");
  <% end %>

  <% if diary.category == "foot_right" %>
    $(".foot.right").css("background-color","red");
  <% end %>

  <% if diary.category == "core" %>
    $(".core").css("background-color","red");
  <% end %>

  <% if diary.category == "hip" %>
    $(".hip").css("background-color","red");
  <% end %>

  <% if diary.category == "body" %>
    $(".body").css("background-color","red");
  <% end %>

  <% if diary.category == "back" %>
    $(".back").css("background-color","red");
  <% end %>
<% end %>
});
</script>