<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <%= render "lego" %>
        </div>
      </div>
    <div id="blue_box">
    <div id="left"></div>
    <div class="divider"></div>
    <div id="right"></div>
    </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="card-body">
            <div class="card-title1">
              <h4><strong>나의 성감대</strong></h4>
              <p>: <%= @diary.category %></p>
            
            </div>
            <h5><strong>세부사항</strong></h5>
            <div class="card-title2">
                        <p class="card-text"  style="white-space: pre-wrap;" ><%= @diary.memo %></p>
            </div>

          </div><!--cardbody-->
       </div><!--formgroup-->
          <p class="float-right mr-5"><%= link_to '수정하기', edit_diary_path(@diary),class: "btn btn-outline-dark" %> <%= link_to '뒤로', diaries_path ,class: "btn btn-dark"%></p>
      </div><!--col-md-5-->
    </div><!--row-->
  </div><!--panelbody-->
</div><!--panel panel-defalut-->




<script>
$( document ).ready(function() {
  <% if @diary.category == "얼굴" %>
    $(".head").css("background-color","#fa1634");
  <% end %>

  <% if @diary.category == "머리카락" %>
    $(".hair").css("background-color","#fa1634");
  <% end %>

  <% if @diary.category == "왼팔뚝" %>
    $(".shoulder.right").css("background-color", "#fa1634");
    $(".shoulder2.left").css("background-color", "#fa1634");
  <% end %>

  <% if @diary.category == "오른팔뚝" %>
    $(".shoulder.left").css("background-color", "#fa1634");
    $(".shoulder2.right").css("background-color", "#fa1634");
  <% end %>

  <% if @diary.category == "허리" %>
    $(".belt").css("background-color","#fa1634");
  <% end %>

  <% if @diary.category == "왼손" %>
    $(".hand.right").css("border", "13px solid #fa1634");
    $(".hand2.left").css("border", "13px solid #fa1634");
  <% end %>

  <% if @diary.category == "오른손" %>
    $(".hand.left").css("border", "13px solid #fa1634");
    $(".hand2.right").css("border", "13px solid #fa1634");
  <% end %>

  <% if @diary.category == "오른다리" %>
    $(".leg.left").css("background-color", "#fa1634");
    $(".leg2.right").css("background-color", "#fa1634");
  <% end %>

  <% if @diary.category == "왼다리" %>
    $(".leg.right").css("background-color", "#fa1634");
    $(".leg2.left").css("background-color", "#fa1634");
  <% end %>

  <% if @diary.category == "왼팔" %>
    $(".arm.right").css("background-color", "#fa1634");
    $(".arm2.left").css("background-color", "#fa1634");
  <% end %>

  <% if @diary.category == "오른팔" %>
    $(".arm.left").css("background-color", "#fa1634");
    $(".arm2.right").css("background-color", "#fa1634");
  <% end %>

  <% if @diary.category == "왼발" %>
    $(".foot.right").css("background-color", "#fa1634");
    $(".foot2.left").css("background-color", "#fa1634");
  <% end %>

  <% if @diary.category == "오른발" %>
     $(".foot.left").css("background-color", "#fa1634");
    $(".foot2.right").css("background-color", "#fa1634");
  <% end %>

  <% if @diary.category == "중요부위" %>
    $(".core").css("background-color","#fa1634");
  <% end %>

  <% if @diary.category == "엉덩이" %>
    $(".hip").css("background-color","#fa1634");
  <% end %>

  <% if @diary.category == "몸" %>
    $(".body2").css("border-color", "transparent transparent #fa1634 transparent");
  <% end %>

  <% if @diary.category == "등" %>
    $(".body3").css("border-color", "transparent transparent #fa1634 transparent");
  <% end %>
});
</script>

