<%= render "lego" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @diary.category %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @diary.memo %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
<script>
$( document ).ready(function() {
  <% if @diary.category == "head" %>
    $(".head").css("background-color","red");
  <% end %>

  <% if @diary.category == "hair" %>
    $(".hair").css("background-color","red");
  <% end %>

  <% if @diary.category == "wrist" %>
    $(".wrist").css("background-color","red");
  <% end %>

  <% if @diary.category == "shoulder_left" %>
    $("shoulder.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "shoulder_right" %>
    $("shoulder.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "hand_left" %>
    $(".hand.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "hand_right" %>
    $(".hand.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "leg_right" %>
    $(".leg right").css("background-color","red");
  <% end %>

  <% if @diary.category == "leg_left" %>
    $(".leg.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "arm_left" %>
    $(".arm.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "arm_right" %>
    $(".arm.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "foot_left" %>
    $(".foot.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "foot_right" %>
    $(".foot.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "wrist left" %>
    $(".wrist").css("background-color","red");
  <% end %>

  <% if @diary.category == "wrist_right" %>
    $(".wrist.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "waist" %>
    $(".waist").css("background-color","red");
  <% end %>

  <% if @diary.category == "shoulder_left" %>
    $("shoulder.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "shoulder_right" %>
    $("shoulder.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "hand_left" %>
    $(".hand.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "hand_right" %>
    $(".hand.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "leg_right" %>
    $(".leg.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "leg_left" %>
    $(".leg.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "arm_left" %>
    $(".arm.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "arm_right" %>
    $(".arm.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "foot_left" %>
    $(".foot.left").css("background-color","red");
  <% end %>

  <% if @diary.category == "foot_right" %>
    $(".foot.right").css("background-color","red");
  <% end %>

  <% if @diary.category == "core" %>
    $(".core").css("background-color","red");
  <% end %>

  <% if @diary.category == "hip" %>
    $(".hip").css("background-color","red");
  <% end %>

  <% if @diary.category == "body" %>
    $(".body").css("background-color","red");
  <% end %>

  <% if @diary.category == "back" %>
    $(".back").css("background-color","red");
  <% end %>
});
</script>

