<div class="panel panel-default mt-5">
  <div class="panel-body">
    <div class="row">

      <!-- left jumbotron -->
      <div class="col-md-6">
        <div class="jumbotron">
         <h1>WAKE ME UP</h1>
         <p>당신의 소중한 성감대를 기록하세요. <br/>
         성감대 다이어리를 통해 당신을 더 알 수 있습니다</p>
        </div>
      </div>


      <!-- right jumbotron -->
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="form-group">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in" %>
            </div>
          <%  end -%>
      </div>

    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
