<p id="notice"><%= notice %></p>

<ul class="nav flex-wrap">
  <li class="nav-item h2">게시판</li>
  <span class="ml-auto align-self-center hidden-sm-down">
    <%= link_to '글쓰기', new_post_path ,class: "m-1 btn btn-thin btn-primary font-size-sm"%>
  </span>
</ul>


<<<<<<< HEAD
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Brand
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">Team</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="https://twitter.com/maridlcrmn">Follow me</a>
                </li>
            </ul>
        </nav>


<table>
  <thead>
=======
<table class="table table-hover mt-3">
  <thead class="thead-default">
>>>>>>> 7de91bd5da147516612ca9548979f6949af36c10
    <tr>
      <th>제목</th>
      <th>글쓴이</th>
      <th>날짜</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post%></td>
        <td>글쓴이</td>
        <td>9시간전</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts%>
<!-- 이 부분 왜 있는지 모르겠음!!!!!! 아무것도 안나옴 아 내가 카테고리 모델이 없구나
카테고리부분 seed.rb에 생성해줘 그래야 자동으로 다 생성되니깐!-->
<% Category.all.each do |category| %>
  <%= link_to category.name, posts_path(category: category.name) %>
<% end %> 