<p id="notice"><%= notice %></p>
<div class="jumbotron">  
  <h1><%= @post.title %></h1>
  <hr class="my-4">
  <div class="row">
    <p class="text-muted ml-3">카테고리 : 여기수정해현경</p>
    <p class="ml-auto text-muted mr-3">글쓴이 : 치즈스틱스 2017-08-16</p>
  </div>
  
  <p class="my-5"><%= @post.content.html_safe %></p>
  <hr class="my-4">
  <div class="float-right">
    <%= link_to 'Edit', edit_post_path(@post),class: "btn btn-outline-dark btn-sm" %>
    <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-outline-dark btn-sm"%> 
  </div>
  <p class="text-muted mt-5">댓글</p> 
  <table class="table">
    <tbody>
      <tr>
      <% @post.comments.each do |comment| %>      
          <%= render partial: "comments/item", locals: { comment: comment } %>
      <% end %>
      </tr>
    </tbody>
  </table>
    <%= form_for [@post, @post.comments.new], remote: true do |f| %>
      <div class="form-group">
        <%= f.text_area :content ,class: "form-control" ,rows: "10"%>
      </div>
      <%= f.submit nil, class: "btn btn-outline-dark float-right" %>
    <% end %>
</div>